<!--
  vim: filetype=html
-->
{{template "base" .}}
{{define "content"}}
<div class="categories-container">
  <h2>Danh mục bài viết</h2>
  <ul class="category-tree">
    {{range .Categories}}
    {{template "categoryNode" .}}
    {{end}}
  </ul>
  <div class="tag-section">
    <h3>Tags</h3>
    <div class="tags-container">
      {{range .Tags}}
      <span class="tag-item"
            hx-get="/tag/{{.TagID}}?page=1"
            hx-target="#main-content"
            hx-push-url="true"
            hx-headers='{"HX-Request": "true", "HX-History-Restore-Request": "true"}'>
        {{.Name}}</span>
      {{end}}
    </div>
  </div>
</div>
{{end}}

{{define "categoryNode"}}
<li class="category-item level-{{.Level}}">
  <span class="category-name"
        hx-get="/category/{{.ID}}?page=1"
        hx-target="#main-content"
        hx-push-url="true"
        hx-headers='{"HX-Request": "true", "HX-History-Restore-Request": "true"}'>
    {{.Name}}
  </span>
  {{if .Children}}
  <ul class="sub-category">
    {{range .Children}}
    {{template "categoryNode" .}}
    {{end}}
  </ul>
  {{end}}
</li>
{{end}}
