<!--
  vim: filetype=html
-->
{{template "base" .}}
{{define "content"}}
<div class="left-column">
  {{range .Posts}}
  <article class="post-card"
           hx-get="/post/{{.PostID}}"
           hx-target="#main-content"
           hx-push-url="true"
           hx-headers='{"HX-Request": "true", "HX-History-Restore-Request": "true"}'>
    <img src="{{.Thumbnail}}" class="post-thumbnail">
    <div class="post-content">
      <h2>{{.Title}}</h2>
      <p class="post-date">
      <i class="far fa-calendar-alt"></i> {{.CreatedAt.Format "02/01/2006"}}
      </p>
    </div>
  </article>
  {{end}}
</div>

<div class="right-column">
  <div class="announcement-box">
    <h3><i class="fas fa-bullhorn"></i> Thông báo mới</h3>
    <ul class="announcement-list">
      {{range .Announcements}}
      <li class="announcement-item"
          hx-get="/post/{{.PostID}}"
          hx-target="#main-content"
          hx-push-url="true"
          hx-headers='{"HX-Request": "true", "HX-History-Restore-Request": "true"}'>
        {{.Title}}
      </li>
      {{end}}
    </ul>
  </div>
  <!-- <div class="announcement-box"> -->
  <!--   <h3><i class="fas fa-plus-circle"></i> Cập nhật sắp tới</h3> -->
  <!--   <ul class="announcement-list"> -->
  <!--     <li class="announcement-item"> -->
  <!--       Tính năng mới đang phát triển -->
  <!--     </li> -->
  <!--   </ul> -->
  <!-- </div> -->
</div>
{{end}}
