<!--
  vim: filetype=html
-->
{{template "base" .}}
{{define "content"}}
<article class="post-detail">
  <div class="post-header">
    <h1 class="post-title">{{.Post.Title}}</h1>
    <div class="post-meta">
      <span class="post-date">
        <i class="far fa-calendar-alt"></i>
        {{.Post.CreatedAt.Format "02/01/2006 15:04"}}
      </span>
    </div>
  </div>

  <div class="post-content">
    <!-- Render HTML raw từ database -->
    {{.Post.HTMLBody}}
  </div>

  <div class="tag-section">
    <h3>Tags</h3>
    <div class="tags-container">
      {{range .Tags}}
      <span class="tag-item"
            hx-get="/tag/{{.TagID}}?page=1"
            hx-target="#main-content"
            hx-push-url="true"
            hx-headers='{"HX-Request": "true", "HX-History-Restore-Request": "true"}'>
        {{.Name}}</span>
      {{end}}
    </div>
  </div>
</article>
{{end}}
